<!--Footer-->
<footer class="bg-dark text-white" id="foot">
    <div class="container">
        <div class="row">
            <!--Contenedor del formulario-->
            <div id="mc_embed_signup">
                <form action="https://soribuy.us5.list-manage.com/subscribe/post?u=7099ac3f6e74231b744ad53e0&amp;id=e526705eb5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                   
               <div class="mc-field-group">
                   <div class="cont-form">
                    <label id="labelTex" for="mce-EMAIL">Únete a nuestro newsletter</label>
                    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL"> 
                    <div class="clear foot">
                        <input type="submit" value="Unir" name="subscribe" id="mc-embedded-subscribe" class="button">
                 </div>
    
            <div class="redes-sociales">
                 <ul class="col-3 list-unstyled">
                    <a href="" class="text-reset"><i class="fa fa-facebook fa-2x"></i></a>
                    <a href="" class="text-reset"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
                    <a href="" class="text-reset"><i class="fa fa-youtube-play fa-2x" aria-hidden="true"></i></a>
                    <a href="" class="text-reset"><i class="fa fa-whatsapp fa-2x"></i></a>
                </ul>
            </div>
    
                </div>
                </div>
    
                    <div id="mce-responses" class="clear foot">
                        <div class="response" id="mce-error-response" style="display:none"></div>
                        <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>   
                     <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_7099ac3f6e74231b744ad53e0_e526705eb5" tabindex="-1" value=""></div>
                        <div class="optionalParent">
    
                        </div>
                    </div>
                </form>
                </div>
        </div>
        <div class="container-bor">
    <nav class="row justify-content-center">
    <ul class="col-5 col-md-3 list-unstyled">
    <li id="tit" class="font-weight-bold text-uppercase">Nosotros</li>
    <li><a href="" class="text-reset">Quienes somos</a></li>
    <li><a href="" class="text-reset">Garantia</a></li>
    <li><a href="" class="text-reset">Sucursales</a></li>
    <li><a href="" class="text-reset">Políticas de Ventas</a></li>
    <li><a href="" class="text-reset">Políticas de Devoluciones</a></li>
    </ul>
    
    <ul class="col-5 col-md-3 list-unstyled">
        <li id="tit" class="font-weight-bold text-uppercase">Métodos de pago</li>
        <li><a href="" class="text-reset">Tarjetas de crédito y débito</a></li>
        <li><a href="" class="text-reset">Paga en efectivo en OXXO</a></li>
        <li><a href="" class="text-reset">Paypal</a></li>
        <li><a href="" class="text-reset">Payu</a></li>
        </ul>
    
        <ul class="col-5 col-md-3 list-unstyled">
            <li id="tit" class="font-weight-bold text-uppercase">Comunidad</li>
            <li><a href="" class="text-reset">Foro</a></li>
            <li><a href="" class="text-reset">Registro de Proyectos</a></li>
            <li><a href="" class="text-reset">Se proveedor</a></li>
            </ul>
    
            <ul class="col-5 col-md-3 list-unstyled">
                <li id="tit" class="font-weight-bold text-uppercase">Contácto</li>
                <li><a href="" class="text-reset">Aclaración de dudas</a></li>
                <li><a href="" class="text-reset">Email: ventas@soribuy.com</a></li>
                <li><a href="" class="text-reset">Contáctanos vía Whatsapp</a></li>
                </ul>
    </nav>
    </div>
    <div class="red-social">
        <div class="terminos">
        <a class="a1" href="terminosCondiciones.html" title="Terminos de Servicio" target="_blank">Términos y Condiciones  </a>
        <a href="politicas.html" title="Politicas de Privacidad" target="_blank">Aviso Privacidad</a>
        </div>
    
            <div class="cont-pie">
        <small> Copyright  SORIBUY.mx Todos loss derechos Reservados</small>
        </div>
                </div>
            </div>
    
    
        </footer>
